api/media/
#/venv/**
venv/
#/dist/**
dist/
#/build/**
build/
#.idea/**
.idea/
#**/__pycache__/**
#**/__pycache__/
__pycache__/
#**/**/desktop.ini
desktop.ini
#Command Prompt
*.~vsdx
#**/**/*.sqlite3
*.sqlite3
*.sqlite3-journal
#**/**/*.coverage
*.coverage
htmlcov/
coverage.json
coverage.xml
#**/**/*.log
*.log

# pafy's gitognore
MANIFEST
doc/_build/
*.help
.tox
.coverage
#htmlcov/
dev/
/dist
.test
*.pyc
.pypi
vi.py
__pycache__
*.egg-info
*.temp
/build

# mps-youtube's gitognore
*.py[cod]
otherstuff/
#vi.py
#MANIFEST
.dev
.vscode
# Packages
*.egg
#*.egg-info
dist
build
eggs
parts
bin
var
tags
.env

nginx/
static/
io/demand_app/*
io/demand_app/
#DB
db_data/
api/pdf*/